block first-line
|
|
doctype html
html(lang='en')
	head
		title PageTitle
		meta(name="description" content="")
		include ../inc/head
	body
		.wrapper
			include ../utils/mixins
			include ../inc/header
			|
			|
			block main
			|
			|
			include ../inc/footer
		
		block scripts
		// build:js js/scripts.js
		script(src='node_modules/jquery/dist/jquery.min.js')
		//- script(src='node_modules/owl.carousel/dist/owl.carousel.min.js')
		script(src='js/main.js')
		// endbuild
