block first-line
|
|
doctype html
html(lang='en')
	head
		title PageTitle
		meta(name="description" content="")
		//- include ../inc/head
		<?php include ('inc/head.php'); ?>
	body
		.wrapper
			include ../utils/mixins
			//- include ../inc/header
			<?php include ('inc/header.php'); ?>
			|
			|
			block main
			|
			|
			//- include ../inc/footer
			<?php include ('inc/footer.php'); ?>
		
		block scripts
		// build:js js/scripts.js
		script(src='node_modules/jquery/dist/jquery.min.js')
		//- script(src='node_modules/owl.carousel/dist/owl.carousel.min.js')
		script(src='js/main.js')
		// endbuild
